<div class='killers__container container'>
  <h2 class='killers__header'>
    JS-killers
  </h2>

  <div class='killers__content'>
    <div class='killers__list list'>
      <marquee class='wanted' behavior='alternate' direction='left'>
        <span class='rotate-letter-wanted lang' data-key='wanted1'>
          W
        </span>
        <span class='lang' data-key='wanted2'>
          ANTED!!!
        </span>
      </marquee>
      {{#each this}}
        <a class='flip' href="{{git}}" target='_blank' rel='noopener noreferrer'>
          <div class='flip__body'>
            <div class='post-wrap wrapper-img flip__front'>
              <img src="{{photo}}" alt='JS-killer' class='killer__image' id='photo' />
              {{!-- <img
                src="{{superPhoto}}"
                alt='JS-killer'
                class='killer__image killer__image-super-photo visually-hidden'
                id='photo'
              /> --}}

              <div class='post-inner'>
                <span class='dot first'></span>
                <p class='killers__title'>
                  {{name}}
                </p>
                <span class='dot last'></span>
                <p class='killers__position'>
                  {{position}}
                </p>
                <p class='killers__motivation'>
                  {{whatKeepsMeUpHere}}
                </p>
              </div>
            </div>
            <div class='post-wrap wrapper-img flip__back'>
              {{!-- <img src="{{photo}}" alt='JS-killer' class='killer__image' id='photo' /> --}}
              <img
                src="{{superPhoto}}"
                alt='JS-killer'
                class='killer__image'
                id='photo'
                {{! class='killer__image killer__image-super-photo visually-hidden' }}
              />

              <div class='post-inner'>
                <span class='dot first'></span>
                <p class='killers__title'>
                  {{name}}
                </p>
                <span class='dot last'></span>
                <p class='killers__position'>
                  {{position}}
                </p>
                <p class='killers__motivation'>
                  {{whatKeepsMeUpHere}}
                </p>
              </div>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>