
  <div class='card__image-thumb'>

    <img
      data-id='{{id}}'
     {{#if poster_path}}
        src='{{poster_path}}'

        {{#if backdrop_path}}
        src='{{backdrop_path}}'
        {{/if}}
        {{/if}}

        alt='{{title}}'
    />
  </div>
  <div class='card__description'>
    <h3 class='card__title--modal'>{{title}}</h3>
    <table class='card__specifications--modal'>
      <tr class='card__specification-row'>
        <td class='card__specification-name'>Vote / Votes</td>
        <td class='card__specification-meaning'>
          <button class='button__modal--primary card__specification-meaning-button'>
            {{vote_average}}
          </button>
          / {{vote_count}}
        </td>
      </tr>
      <tr class='card__specification-row'>
        <td class='card__specification-name'>Popularity</td>
        <td class='card__specification-meaning'>{{popularity}}</td>
      </tr>
      <tr class='card__specification-row'>
        <td class='card__specification-name'>Original Title</td>
        {{#if original_title}}
        <td class='card__specification-meaning card__specification-meaning-name'>{{original_title}}</td>
        {{/if}}
    {{#if name}}
    <td class='card__specification-meaning card__specification-meaning-name'>{{name}}</td>
        {{/if}}
      </tr>
      <tr class='card__specification-row'>
        <td class='card__specification-name'>Genre</td>
        <td class='card__specification-meaning'>
          <ul class='genre__list'>
            {{#each genre_ids}}
          <li class='genre__item'>{{this}}</li>
        {{/each}}
          </ul>
        </td>
      </tr>
    </table>
    <h4 class='card__title-abaut'>About</h4>
    <p class='card__text-abaut'>
      {{overview}}
    </p>
    <div class='button__container-modal'>
      <ul class='button__list-modal'>
        <li class='button__item-modal js-add-watched'>
          <button class='button__modal--primary button__modal--add'>add to Watched</button>
        </li>
        <li class='button__item-modal js-remove-watched hidden'>
          <button class='button__modal--primary button__modal--remove'>
            remove from Watched
          </button>
        </li>
        <li class='button__item-modal js-add-queue'>
          <button class='button__modal--primary button__modal--add'>add to queue</button>
        </li>
        <li class='button__item-modal js-remove-queue hidden'>
          <button class='button__modal--primary button__modal--remove'>
            remove from queue
          </button>
        </li>
      </ul>
    </div>
  </div>


